<a href="https://colab.research.google.com/github/rochinha23/Exercicios_Curso_em_video/blob/main/ex_009_Tabuada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
ex_009 
Faça um programa que leia um número inteiro qualquer
e mostre na tela a sua tabuada
"""

n = int(input("Digite um número inteiro para ver sua tabela: "))

n0 = n * 0
n1 = n * 1
n2 = n * 2
n3 = n * 3
n4 = n * 4
n5 = n * 5
n6 = n * 6
n7 = n * 7
n8 = n * 8
n9 = n * 9
n10 = n * 10

print("A tabuada do número {} é: ".format(n))
print("{} * 0  = {}".format(n, n0))
print("{} * 1  = {}".format(n, n1))
print("{} * 2  = {}".format(n, n2))
print("{} * 3  = {}".format(n, n3))
print("{} * 4  = {}".format(n, n4))
print("{} * 5  = {}".format(n, n5))
print("{} * 6  = {}".format(n, n6))
print("{} * 7  = {}".format(n, n7))
print("{} * 8  = {}".format(n, n8))
print("{} * 9  = {}".format(n, n9))
print("{} * 10 = {}".format(n, n10))

Digite um número inteiro para ver sua tabela: 5
A tabuada do número 5 é:
5 * 0  = 0
5 * 1  = 5
5 * 2  = 10
5 * 3  = 15
5 * 4  = 20
5 * 5  = 25
5 * 6  = 30
5 * 7  = 35
5 * 8  = 40
5 * 9  = 45
5 * 10 = 50