<a href="https://colab.research.google.com/github/rochinha23/Exercicios_Curso_em_video/blob/main/ex_047_pares_ate_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ex_047

Crie um programa que mostre na tela todos os numeros
pares que estão no intervalo entre 1 e 50.

In [1]:
print('Os números são entre 1 e 50 são: ')
for c in range(2,51,2):
    print(c)

Os números são entre 1 e 50 são:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50